<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmer la suppression d'une salle</title>
  <link rel="stylesheet" href="/static/dash.css">
  <link rel="stylesheet" href="/static/confirm_delete.css" />

</head>
<body>
  <div class="container">
    <%- include('../nav') -%>

    <section class="main">
        <div class="main-top">
            <h1>Confirmer la suppression</h1>
        </div>
        <div class="room-details">
            <p>Voulez-vous vraiment supprimer la salle <span class="room-name"><%= room.name %></span> ?</p>
            <form class="confirmation-form" action="/api/rooms/<%= room._id %>/delete" method="POST">
                <button type="submit">Supprimer</button>
            </form>
        </div>
    </section>
</div>
</body>
</html>
