<!-- editroom.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Room</title>
  <link rel="stylesheet" href="/static/dash.css">
</head>
<body>
  <div class="container">
    <% include('../nav') %>

    <section class="main">
      <div class="main-top">
        <h1>Edit Room</h1>
      </div>
      <div class="room-details">
        <form action="/api/rooms/<%= room._id %>/edit" method="POST">
            <input type="hidden" name="_method" value="PUT">
        
            <div class="addroom-form-group">
                <label class="addroom-label" for="name">Name:</label>
                <input type="text" class="addroom-input" id="name" name="name" value="<%= room.name %>" required>
            </div>
            <div class="addroom-form-group">
                <label class="addroom-label" for="floor">Floor:</label>
                <input type="text" class="addroom-input" id="floor" name="floor" value="<%= room.floor %>" required>
            </div>
            <div class="addroom-form-group">
                <label class="addroom-label" for="capacity">Capacity:</label>
                <input type="number" class="addroom-input" id="capacity" name="capacity" value="<%= room.capacity %>" required>
            </div>
            <div class="addroom-form-group">
                <label for="assets">Assets:</label><br>
                <input type="checkbox" id="macLab" name="assets[macLab]" <% if (room.assets.macLab) { %>checked<% } %>>
                <label for="macLab" class="addroom-checkbox-label"> Mac Lab</label><br>
        
                <input type="checkbox" id="pcLab" name="assets[pcLab]" <% if (room.assets.pcLab) { %>checked<% } %>>
                <label for="pcLab" class="addroom-checkbox-label"> PC Lab</label><br>
        
                <input type="checkbox" id="projector" name="assets[projector]" <% if (room.assets.projector) { %>checked<% } %>>
                <label for="projector" class="addroom-checkbox-label"> Projector</label><br>
        
                <input type="checkbox" id="tv" name="assets[tv]" <% if (room.assets.tv) { %>checked<% } %>>
                <label for="tv" class="addroom-checkbox-label"> TV</label><br>
        
                <input type="checkbox" id="whiteBoard" name="assets[whiteBoard]" <% if (room.assets.whiteBoard) { %>checked<% } %>>
                <label for="whiteBoard" class="addroom-checkbox-label"> White Board</label><br>
            </div>
            <button type="submit">Save Changes</button>
        </form>
        
      </div>
    </section>
  </div>
</body>
</html>
