<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>Create New Room</h2>
        <form action="/api/rooms/createrooms" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="floor">Floor:</label>
                <input type="text" class="form-control" id="floor" name="floor" required>
            </div>
            <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="number" class="form-control" id="capacity" name="capacity" required>
            </div>
            <div class="form-group">
                <label for="assets">Assets:</label><br>
                <input type="checkbox" id="macLab" name="assets[macLab]">
                <label for="macLab"> Mac Lab</label><br>
                <input type="checkbox" id="pcLab" name="assets[pcLab]">
                <label for="pcLab"> PC Lab</label><br>
                <input type="checkbox" id="projector" name="assets[projector]">
                <label for="projector"> Projector</label><br>
                <input type="checkbox" id="tv" name="assets[tv]">
                <label for="tv"> TV</label><br>
                <input type="checkbox" id="whiteBoard" name="assets[whiteBoard]">
                <label for="whiteBoard"> Whiteboard</label><br>
            </div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
        
            <button type="submit" class="btn btn-primary">Create Room</button>
        </form>
    </div>
</body>
</html>
