<%- include('header') -%>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>Bienvenue <%= user ? user.username : "User" %> dans notre site reservation des salles de reunion</h3>
        <!-- <h5><%= user ? user.username : "User" %></h5> -->
        <a href="/auth/logout">Logout</a>
    </div>
</div>


<%- include('footer') -%>