<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirmer l'annulation</title>
</head>
<body>
  <div >
    <%- include('header') -%>

    <section >
      <div >
        <h1>Confirmer l'annulation</h1>
      </div>
      <div >
        <p>Voulez-vous vraiment annuler la réservation du <%= reservation.dateTime %> ?</p>
        <form action="/deletereservation/<%= reservation._id %>/delete" method="POST">
            <button type="submit">Annuler</button>
        </form>
      </div>
    </section>
  </div>
</body>
</html>
