<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Reservation</title>
<body>
  <div >
    <%- include('header') -%>

    <section >
      <div >
        <h1>Edit Reservation</h1>
      </div>
      <div >
        <form action="/editreservations/<%= reservation._id %>/edit" method="POST">
            <input type="hidden" name="_method" value="PUT">
        
            <div >
                <label  for="startTime">startTime:</label>
                <input type="date" class="addroom-input" id="startTime" name="startTime" value="<%= reservation.startTime %>" required>
            </div>
            <div >
                <label  for="endTime">endTime:</label>
                <input type="date" class="addroom-input" id="endTime" name="endTime" value="<%= reservation.endTime %>" required>
            </div>
           
           
            <button type="submit" >Update Reservation</button> 
        </form>
        
      </div>
    </section>
  </div>
</body>
</html>
