<%- include('header') -%>

<div class="text-center center-div mt-5" id="login">
    <div class="container w-25 border py-5 mt-5">
        <h3>Bienvenue <%= username %> dans notre site de réservation des salles de réunion</h3>
    </div>
</div>
