.room-details {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 68px;
    background-image: url('img.jpg');

  }
  
  .room-details h1 {
    color: #529ae7;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
    background-color: antiquewhite;
  }
  
  .addroom-form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .editroom-label {
    font-weight: bold;
    flex: 1;
  }
  
  .addroom-input[type="text"],
  .addroom-input[type="number"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: antiquewhite;
  }
  
  .addroom-checkbox-label {
    margin-right: 20px;
  }
  
  .editroom-button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #131010;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: antiquewhite;
  }
  
  .editroom-button[type="submit"]:hover {
    background-color: #848e99;
    background-color: antiquewhite;
  }
  